{{#if info.length}}
<section>
    <h2>Prior portfolios</h2>
    <ol>
        {{#each info as |info|}}
        <li>
            <a href="/portfolios/{{info.id}}" class="portfolio">Prior portfolio{{info.id}}</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}